@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;

}
.break-words {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@media (max-width:900px){
  #container{
    width: 80%;
  }
  #msgfield{
    width: 80%;
  
  }
  .btn{
    width: 20%;
  }
  #msg{
    width: 70%;
  }
  
}

@media (max-width:400px){
  #container{
    width: 95%;
  }
  #msgfield{
    width: 90%;

  }
  .btn{
    width: 20%;
  }
  #msg{
    width: 70%;
  }
  
}